- content_for :title, t("user.login")
= simple_form_for :session, url: session_path do |f|
  .card-body
    = f.input :email, required: true
    = f.input :password, required: true
  .card-footer
    = f.button :submit, t("user.login"), class: "btn btn-primary"
    = link_to t("user.register"), new_user_path, class: "ms-auto"
    = link_to t("user.forgot_password"), new_password_path, class: "ms-4"