.card-body
  = f.association :podcast, label_method: :title
  = f.input :url, label: "Feed URL", hint: 'URL field in feed.rss – /rss/channel/link', input_html: { autocomplete: "off", autocorrect: "off" }
  = f.association :server, label_method: :name_for_ui
  = f.input :path, label: "Server Path", hint: 'Recommend absolute path, e.g. /srv/podcasts/:title/', input_html: { autocomplete: "off", autocorrect: "off" }

.card-footer
  = f.button :submit, "Save", class: "card-btn-save"
  = link_to "Cancel", feeds_path, class: "card-btn-cancel"
  - unless f.object.new_record?
    = link_to "Delete", f.object, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "card-btn-delete"