.container
  %h1
    Feeds
  %table.table
    %thead
      %tr
        %th Podcast
        %th URL
        %th Server
        %th Actions
    %tbody
      - @feeds.each do |feed|
        %tr
          %td= link_to feed.podcast&.title, feed.podcast
          %td= link_to feed.url, feed
          %td= link_to feed.server.name_for_ui, feed.server
          %td
            = link_to bi('search'), feed_path(feed), class: "btn btn-sm btn-info"
            = link_to bi_edit, edit_feed_path(feed), class: "btn btn-sm btn-secondary"
            = link_to bi_delete, feed_path(feed), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-sm btn-danger"
  = link_to 'New Feed', new_feed_path, class: "btn btn-primary mt-3"