.card
  .card-header.bg-primary
    .float-end= button_to "Push", push_feed_path(@feed), class: 'btn btn-sm btn-danger', data: { turbo: false }
    %h3.card-title Feed
  .list-group.list-group-flush
    .list-group-item
      %h4= link_to @feed.podcast.title, @feed.podcast
      .card-subtitle= link_to @feed.url, @feed.url, target: '_blank', rel: 'noopener'
    .list-group-item
      %h4= link_to @feed.server.name_for_ui, @feed.server
      .card-subtitle= @feed.path
  %table.table.table-sm.card-body
    %tbody
      %tr
        %th Last Upload At:
        %td= @feed.last_upload_at ? dt(@feed.last_upload_at) : "–"
      %tr
        %th Created At:
        %td= dt @feed.created_at, format: :long
      %tr
        %th Updated At:
        %td= dt @feed.updated_at, format: :long
  .card-footer.card-buttons
    = link_to 'Edit', edit_feed_path(@feed, return_to: request.fullpath), class: 'btn btn-sm btn-secondary'
    = link_to 'RSS', rss_feed_path(@feed), class: 'btn btn-sm btn-info ms-4'
    = link_to 'HTML', preview_html_feed_path(@feed), class: 'btn btn-sm btn-info ms-4'
    = link_to 'Back to Feeds', feeds_path, class: 'ms-auto'