- content_for :title, @server.name_for_ui
%table.table.table-sm.card-body
  %tbody
    %tr
      %th Name:
      %td= @server.name_for_ui
    %tr
      %th Last Login At:
      %td= dt(@server.last_login_at) || "–"
    %tr
      %th Created At:
      %td= dt @server.created_at, format: :system
    %tr
      %th Updated At:
      %td= dt @server.updated_at, format: :system
.card-body
  - if @server.feeds.any?
    %strong Feeds
    %ul.list-unstyled
      - @server.feeds.each do |feed|
        %li
          %div= link_to feed.path, feed
  - else
    %em No feeds

.card-footer
  = link_to 'Edit Server', edit_server_path(@server, return_to: request.fullpath), class: 'btn btn-sm btn-secondary'
  = link_to 'Test Connection', test_server_path(@server), data: { turbo_method: :post }, class: 'btn btn-sm btn-warning ms-4'
  = link_to 'Back to Servers', servers_path, class: 'ms-auto'

