- content_for :title, "Edit User"
= simple_form_for @user do |f|
  .card-body
    = f.input :email, required: true
    = f.input :password, optional: true
    = f.input :password_confirmation, optional: true
    = f.input :admin, as: :boolean
    = f.input :verified, as: :boolean

  .card-footer
    = f.button :submit, "Update", class: "card-btn-save"
    = link_to "Cancel", users_path, class: "card-btn-cancel"
    - unless @user.new_record?
      = link_to "Delete", user_path(@user), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "card-btn-delete"
