.container
  %h1 Users
  %table.table
    %thead
      %tr
        %th ID
        %th Email
        %th Admin
        %th Verified
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.email
          %td= user.admin? ? "Yes" : "No"
          %td= dt(user.verified_at) || "No"
          %td
            = link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-primary"
            - unless user == Current.user
              = link_to 'Delete', user_path(user), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
  = link_to 'New User', new_user_path, class: "btn btn-primary"