- content_for :title, t("user.register")
= simple_form_for @user do |f|
  .card-body
    = f.input :email, required: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
  .card-footer
    = f.button :submit, t("user.register"), class: "btn btn-primary"
    = link_to t("user.login"), new_session_path, class: "ms-auto"
    = link_to t("user.forgot_password"), new_password_path, class: "ms-4"