:ruby
  title_hint =
    if f.object.persisted?
      if f.object.title.blank?
        if f.object.meta_title.present?
          "Suggested: #{f.object.meta_title}"
        else
          "Title will be updated from any new audio file's metadata."
        end
      end
    else
      "Leave blank to get the title from the audio file"
    end
.card-body
  = f.input :title, label: "Title", hint: title_hint
  = f.input :description, label: "Description"
  = f.association :owner, label_method: :name_for_ui, value_method: :id
  = f.input :published_at, label: "Published", as: :date, html5: true
  - hint = "Already uploaded: #{f.object.audio_file.filename}" if !f.object.changed? and f.object.audio_file.attached?
  = f.input :audio_file, label: "Audio File", as: :file, hint: hint

.card-footer
  = f.button :submit, "Save", class: "card-btn-save"
  = link_to "Cancel", podcast_path(@podcast), class: "card-btn-cancel"
  - unless f.object.new_record?
    = link_to "Delete", podcast_episode_path(@podcast, f.object), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "card-btn-delete"