.card-body
  = f.input :title, label: "Title", hint: "Leave blank to get the title from the audio file"
  = f.input :description, label: "Description"
  = f.association :owner, label_method: :name_for_ui, value_method: :id
  = f.input :published, label: "Published", as: :boolean
  = f.input :audio_file, label: "Audio File", as: :file, direct_upload: true

.card-footer
  = f.button :submit, "Save", class: "card-btn-save"
  = link_to "Cancel", podcast_path(@podcast), class: "card-btn-cancel"
  - unless f.object.new_record?
    = link_to "Delete", podcast_episode_path(@podcast, f.object), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "card-btn-delete"