= f.input :title, label: "Title"
= f.input :description, label: "Description"
= f.association :owner, label_method: :name_for_ui, value_method: :id
= f.input :published, label: "Published", as: :boolean
= f.input :cover_art, label: "Cover Art", as: :file
.d-flex.align-items-center
  .me-auto= f.button :submit, "Save", class: "btn btn-primary"
  = link_to "Cancel", podcasts_path, class: "btn btn-secondary"