.card
  .card-header.bg-primary
    .float-end= link_to 'Edit Podcast', edit_podcast_path(@podcast, return_to: request.fullpath), class: 'btn btn-sm btn-secondary'
    - if @podcast.cover_art.attached?
      .float-start.me-3= image_tag @podcast.cover_art, height: 50
    %h3.card-title Podcast: #{@podcast.title}
    - if @podcast.description.present?
      .card-subtitle
        = simple_format @podcast.description
  %table.table.table-sm.card-body
    %tbody
      %tr
        %th Created At:
        %td= dt @podcast.created_at, format: :long
      %tr
        %th Updated At:
        %td= dt @podcast.updated_at, format: :long
      %tr
        %th Feeds:
        %td
          - if @podcast.feeds.any?
            %ul.list-unstyled
              - @podcast.feeds.each do |feed|
                %li
                  = link_to feed.url, feed
                  = link_to 'edit', edit_feed_path(feed, return_to: request.fullpath), class: 'badge-link badge-primary ms-2'
          - else
            = link_to 'Add Feed', new_feed_path(podcast_id: @podcast.id, return_to: request.fullpath), class: 'btn btn-primary btn-sm'
  .card-footer
    = link_to 'New Episode', new_podcast_episode_path(@podcast), class: 'btn btn-primary ms-4'

.card.mt-5
  .card-header.bg-info
    %h2 Episodes
  %table.table.table-sm.card-body
    %thead
      %tr
        %th Track #
        %th Title
        %th Filename
        %th Duration
        %th Bitrate
        %th Published
        %th Actions
    %tbody
      - @podcast.episodes.each do |episode|
        %tr{ class: (episode.published? ? '' : 'table-secondary') }
          %td= episode.track
          %td= episode.title
          %td
            = episode.audio_file.filename
          %td.text-end= episode.duration&.to_clock
          %td #{episode.bitrate} kbps
          %td= dt(episode.published_at, format: :date) || "–"
          %td.table-actions
            = link_to 'Play', podcast_episode_path(@podcast, episode), class: 'badge-link bg-info', target: '_blank', rel: 'noopener'
            = link_to 'Download', rails_blob_path(episode.audio_file, disposition: "attachment"), class: 'badge-link bg-warning ms-2'
            = link_to 'Edit', edit_podcast_episode_path(@podcast, episode), class: 'badge-link bg-secondary ms-2'
            = link_to 'Delete', podcast_episode_path(@podcast, episode), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'badge-link bg-danger ms-2'

.card.mt-5
  .card-header.text-bg-dark
    %h2 Debug
  %pre= @podcast.attributes.to_yaml
  - @podcast.episodes.each do |episode|
    %pre= episode.attributes.to_yaml